body {
    background-color: #5a9ad3;

}

div {
    background-color: #dff0ff;
    border-radius: 50px;
    border: 2px solid #114f87;
}

h1 {
    color: #1f6bb0;
    font-size: 200%;
    font-family: serif;
}

h2 {
    color: #1f6bb0;
    font-size: 200%;
    font-family: serif;
}

h3 {
    color: #1f6bb0;
    font-size: 200%;
    font-family: serif;
}

p {
    color: #1f6bb0;
    font-size: 100%;
    font-family: serif;
}

ol {
    color: #1f6bb0;
    font-size: 100%;
    font-family: serif;
}

.box {
    inline-size: 100px;
}
