div {
    background-color: #e4f3ff;
    border-radius: 10px;
    border: 2px solid #003156;
}

h1 {
    color: #16537e;
    font-family: serif;
}

p {
    font-family: serif;
}

body {
    background-color: #9bd4ff;
}
