body {
    background-color: #fa98ba;
}

div {
    background-color: #ffecf3;
    border-radius: 20px;
    border: 2px solid #8d0938;
}

h1 {
    color: #d81f60;
    font-size: 50px;
    font-family: serif;
}

p {
    color: #2e0312;
    font-size: 20px;
    font-family: sans-serif;
}
