body {
    background-color: #330D38;
}

#information {
    background-color: #f8e3fb;
    border-radius: 15px;
    border-color: #862e92;
    padding-bottom: 1px;
}

h1 {
    color: #19041c;
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 5px;
}

p {
    color: #19041c;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 10px;
}
