body {
    background-color: #efc561;
}

div {
    background-color: #fff6e0;
    border-radius: 20px;
    border: 2px solid #715208;
}

h1 {
    color: #715208;
    font-size: 50px;
    font-family: serif;
}

h2 {
    color: #97772b;
    font-size: 40px;
    font-family: serif;
}

p {
    color: #140f01;
    font-size: 20px;
    font-family: serif;
}
